* {
    box-sizing: border-box;
}


/*************************** body ****************************/

.ashley_logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.25em;
    text-align: center;
    color: #ff11b7;
    max-width: 90%;
    margin: auto;
}

.home_pic {
    max-width: 100%;
    margin: auto;
}

.intro {
    text-align: center;
    font-family: 'Playfair Display', serif;
}


/************************* Main Page **************************/

.main_page {
    color: #ff11b7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center
}

.main_page figure {
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
}

.main_page figure:hover {
    transform: scale(1.5);
}

.main_page img {
    width: 100px;
}


/*************************** Products ****************************/

#product_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex: 2 200px;
    border: solid 2.5px #ff11b7;
    max-width: 45%;
    margin: 5px;
}

.product img {
    width: 100%
}

.add_img img {
    max-width: 25%;
    border: solid 2.5px #ff11b7;
    margin: 1px;
}

.product p {
    color: #ff11b7;
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    line-height: .70;
    text-align: center;
}

.paypal {
    display: flex;
    flex-direction: row;
    justify-content: center
}

/*************************** Muli Page ***********************/

.multi_page img {
    width: 75%;
    margin-bottom: 25px;
}

/*************************** Nav ****************************/

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #ff11b7; 
    height: 130px;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin: auto
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0 2px
}

nav li a:hover {
    background-color: white;
    color: #ff11b7;
    border-radius: 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav li {
    width: 100px;
    margin: auto;
    justify-content: center;
    text-align: center;
}


/******************** Item Sold out page **********************/

.soldout {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    padding-top: 50px;
}


/*************************** OverLay ****************************/

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin-top: 10%;
    width: 400px;
    height: 400px;
}

#overlay p {
    color: white;
}
/************************* Page numbers *************************/
.pageNumber {
    color: #ff11b7; 
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
}

.pageNumber a {
    color: #ff11b7;
    margin: 0 10px;
}

/*************************** footer ****************************/

footer {
    display: flex;
    margin: 15px auto auto;
    justify-content: center;
    background-color: #ff11b7;
    height: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}


/*************************** Media Query ****************************/

@media (min-width: 800px) {
    .product {
        flex: 1 200px;
        margin: 10px;
    }
    #product_gallery {
        margin: 10px;
    }
}
